/* * learn more page * */
* {
  outline: none;
}

.infoLink {
  padding: 2px 8px;
  margin: 5px;
  font-weight: 500;
}

.infoLink:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}

.infoLink a {
  text-decoration: none;
}

.infoLink p {
  margin: 0px;
}

.menu {
  height: 90.06vh;
  overflow-y: auto;
  background-color: rgba(0, 37, 44, 0.5);
	backdrop-filter: blur(8px);
}

.link-active {
  border-left: 6px solid #008cff;
}

.accordion-header button {
  text-decoration: underline #3c547b;
  color: #1e4789;
}

.content {
  border-left: 10px solid #5983c8;
  text-align: justify;
}

hr {
  border: 3px solid white;
}