body {
	background-image: url("../images/Wallpaper.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bgNav {
	background-color: #343a40;
	background-image: linear-gradient(to bottom, #006789, #003360);
	color: white;
}

.nav-link {
	font-size: 18px;
}

.appTitle {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.homeLink {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerLink {
	text-decoration: none;
	color: white;
}

.footerLink:hover {
	color: rgb(255, 196, 0);
}

.subMenu {
	font-size: 20px;
	margin: 0px;
	padding-left: 6px;
}

.bg-footer-end {
	border-top: 3px solid rgb(146, 146, 146);
	background-color: #0000004a;
}

.card-bg-tech {
	border: 3px solid #5983c8;
	border-radius: 20px;
	background-color: rgba(0, 37, 44, 0.5);
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 15px 1px #478ca5;
	color: white;
}

.card-bg-tech:hover {
	box-shadow: 0px 0px 15px 2px #478ca5;
}

.card-bg-tech:hover .card-body .card-title {
	color: rgb(255, 196, 0);
}

.bgDropdown {
	background-image: linear-gradient(135deg, #2b3f4c, #001e32);
}

.level-box {
	text-decoration: none;
	outline: none;
	border: none;
	border-radius: 20px;
	margin: auto;
	padding: 8px;
	min-width: 150px;
	box-shadow: 0px 0px 20px 2px rgb(46, 57, 58);
	color: white;
	font-weight: bold;
	border: 3px solid rgba(137, 137, 137, 0.041);
}

.level-1 {
	background-color: rgba(83, 99, 25, 0.8);
}

.level-2 {
	background-color: rgba(127, 109, 27, 0.8);
}

.level-3 {
	background-color: rgba(160, 99, 20, 0.8);
}

.level-4 {
	background-color: rgba(163, 70, 23, 0.8);
}

.level-5 {
	background-color: rgba(147, 37, 25, 0.8);
}

.level-box-active {
	box-shadow: 0px 0px 20px 5px rgb(125, 134, 134);
	border: 3px solid rgb(137, 137, 137);
}

.card-body p {
	text-align: justify;
}

.btnMenu {
	text-decoration: none;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 12px;
	text-align: center;
	background-image: linear-gradient(to right, #008fa2, #003ba8);
}

.btnMenu:hover {
	background-image: linear-gradient(to right, #00c3dc, #004cd9);
}

.btnMenu:active {
	background-image: linear-gradient(to right, #005f6b, #001b4e);
}

.card-bg-tech p {
	text-align: justify;
}

.footIcon {
	font-size: 25px;
}

.tooltipBtn {
	text-decoration: none;
	outline: none;
	background-color: transparent;
	border: none;
	padding: 0px;
}

.freeSt,
.paySt {
	background-color: #009a00;
	padding: 4px 8px;
	border-radius: 8px;
	box-shadow: 0px 0px 5px 1px rgb(95, 95, 95);
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.paySt {
	background-color: #a30000;
}

.scrollTable {
	max-height: 204px;
	overflow-y: scroll;
}

.tableSt {
	width: 100%;
	background-color: #00c2dc29;
	border-radius: 15px;
}

.tableSt thead tr th,
.tableSt tbody tr td {
	padding: 10px 5px;
	border-bottom: 2px solid white;
}
.tableSt tbody tr td {
	color: #dfc500;
	font-weight: 600;
}

.tableSt tbody tr:hover {
	background-color: #00a2ff48;
	border-radius: 15px;
}
.tableSt tbody tr:last-child td {
	border-bottom: none;
}
.tableSt tbody tr:last-child:hover td:first-child {
	border-bottom-left-radius: 15px;
}
.tableSt tbody tr:last-child:hover td:last-child {
	border-bottom-right-radius: 15px;
}
